.styled {
	border: 3px solid #000000;
}

.titleBar {
	color: white;
	background-color: blue;
	font: bold 14px/18px arial;
	display: block;

}

.footer {
	color: white;
	background-color: blue;
	font: italic 8px/12px arial;
	display: block;
}

img {
	height: 100%;
	width: 100%;
}

my-box {
	margin: 10px 10px;
}

.small {
	width: 200px;
}